<!DOCTYPE html>
<html>
    <head>
        <%- include ../layouts/head %>
    </head>

    <body>
        <nav class="nav navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">WebPonto<span class="coligo"> | <%= usuario %></span></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav pull-right">
                        <li role="presentation"><a href="#">Perfil</a></li>
                        <li role="presentation"><a href="/users/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div id="app">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="well">
                            <h1 class="dash-red">{{ activeUsers }} <i class="glyphicon glyphicon-user"></i></h1>
                            <h3 class="text-muted">Active Users</h3>
                        </div>
                    </div>

                    <div class="col-xs-9">
                        <h2 class="sub-header">Active Pages</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <td>Page URL</td>
                                    <td>Active Users</td>
                                </thead>
                                <tbody>
                                    <tr v-for="(page, count) in pages">
                                        <td>{{ page }}</td>
                                        <td>{{ count }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h2 class="sub-header">Referrals</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <td>Referring Site</td>
                                    <td>Active Users</td>
                                </thead>

                                <tbody>
                                    <tr v-for="(referringSite, count) in referrers">
                                        <td>{{ referringSite }}</td>
                                        <td>{{ count }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3>Open up the analytics dashboard in a new tab/window</h3>
                        <h4 class="header"><a href="/dashboard">Analytics Dashboard</a></h4>
                        <h3>Use the links below to test the real-time analytics dashboard</h3>
                        <h4 class="header"><a href="/">Homepage</a></h4>
                        <h4 class="header"><a href="/about">About Us</a></h4>
                        <h4 class="header"><a href="/contact">Contact Us</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <%- include ../layouts/footer %>
    </body>
</html>
