<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <% if  (usuario) { %>
            <li role="presentation"><a href="/users/dashboard">Dashboard</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>
            <% } else { %>
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
            <% } %>
        </ul>
    </nav>

    <h3 class="text-muted">WebPonto</h3>
</div>
