
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title><%= title %></title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> <!-- Bootstrap core CSS -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> 
    
    <link href="/stylesheets/signin.css" rel="stylesheet"> <!-- Custom styles for this template -->
    
    <SCRIPT LANGUAGE="JavaScript">
      function Login() {
        var done = 0;
        var username = document.login.username.value;
        username = username.toLowerCase();
        var password = document.login.password.value;
        password = password.toLowerCase();
        var array = [
          {nome: "Administrador", user: "admin", pass: "admin"},
          {nome: "Super User", user: "root", pass: "root"},
          {nome: "Gabriel", user: "gabrielrunescape", pass: "40028922"}
        ]
        for (var i = 0; i < array.length; i++) {
          if (username == array[i].user && password == array[i].pass) {
            //alert("Bienvenu Cheb " + array[i].nome);
            alertBootStrap("Seja bem-vindo", "Bem vindo " + array[i].nome + ", meu chapa", false);
            done = 1;
            i = array.length;
            window.location="index.html#tranquila";
          } else {
            done = 0;
          }
        }
        if (done==0) { alert("Senha ou Usuário inválido."); }
      }
    </SCRIPT>
  </head>

  <body>
    <div class="container">
      <form class="form-signin" name="login">
        <h2 class="form-signin-heading">Авторизоваться Менеджер</h2>
        <label for="inputEmail" class="sr-only">имя пользователя</label>
        <input name="username" type="text" id="inputEmail" class="form-control" placeholder="имя пользователя" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Переименовать меня
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="Login()">войти в систему</button>
      </form>
    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p>Prostoy Template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://github.com/GabrielRuneScape">GabrielRuneScape</a>.</p>
      </div>
    </footer>
  </body>
</html>