<% provide(:title, "WebPonto - Editar usuário") %>

<div class="container">
  <%= render 'form', usuario: @usuario %>

  <%= link_to 'Ver', @usuario, class: "btn btn-lg btn-info" %>
  <%= link_to 'Voltar', usuarios_path, class: "btn btn-lg btn-dange" %>
</div> <!-- /container -->
